<div class="container">
    <table class="table">
        <thead>
        <tr>
            <th>productId</th>
            <th>description</th>
            <th>manufacturer</th>
            <th>price</th>
            <th>quantity</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="cartItem in cartItems">
            <td>{{cartItem.productId}}</td>
            <td>{{cartItem.description}}</td>
            <td>{{cartItem.manufacturer}}</td>
            <td>{{cartItem.price}}</td>
            <td>{{cartItem.quantity}}</td>
        </tr>
    </table>
</div>